# Notebook #1: Python, Pandas, and Pokemon, Oh My!

**Due 2/16 by 11:59pm**

The goal of this notebook is to become comfortable with using `python` and `pandas` as well as grabbing specific slices of the dataset. 

Start off by importing the data as we did in `practice-assignment`. Make sure the data is in your Google Drive, and that you update the path to point to where you have your data saved in Drive.

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#import the data:

#make sure the path on the line below corresponds to the path where you put your dataset.
poke = pd.read_csv('/content/drive/MyDrive/CS-167/Datasets/Pokemon.csv')
poke.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

## Exercise #1: 
Print out all of the possible values for the Type 1 of pokemon.
- *Hint: I'm looking for each possible primary type to be ouput once, not a list of primary type of each pokemon. For example, if I tossed a coin 3 times and got Heads, Tails, Heads, the possible values of the coin flip are Heads and Tails. There is a function for this.*

In [ ]:
column.type

## Exercise #2:
Create a subset of data representing pokemon whose primary type is **Fire** ðŸ”¥ , and the second type is **Flying** ðŸ¦…. Save this DataFrame to the variable name `fire_flying_pokemon`. Display the first 5 lines of this subset.

## Exercise #3
Using `fire_flying_pokemon`, what is the median **Attack** of Fire Flying Pokemon?

## Exercise #4
Create a subset with only pokemon from Generation I. Include 5 columns, the `Generation`, `Name`, `Type 1`, `Type 2`, and `Total`. 
  - *For an extra challenge, see if you can do this in one line.*

## Exercise #5

Which primary type of pokemon is the overall strongest? (not looking for philsophical debates here, I'm looking at the average of the 'Total' column, grouped by Type--so Fire v Water v Grass etc.). 
- *Hint: Don't forget to actually answer the question here...*

## Exercise #6
**Do something cool**. Using the Pokemon dataset, get creative and show me something about the dataset. Use a text cell to explain what you did. 
 - *Need some help gettting started here? Try asking a question about the dataset and see if you can use Python and Pandas to answer the question*